{% extends "tickets_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h1>{{ object.user.first_name}} {{object.user.last_name}}</h1>
        <small class="text-muted">{{ object.ticket.start_date|date:"F d, Y" }}</small>
        <small class="text-muted">{{ object.ticket.end_date|date:"F d, Y" }}</small>
        <h2 class="article-title" >{{ object.ticket.price }}</h2>
        <p class="article-content">{{ object.ticket.barcode }}</p>
      </div>
      {% if object.user == user %}
        <div>
          <a  class = "btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'order-delete' object.id %}">Delete</a>
        </div>
      {% endif %}
    </div>
</article>
{% endblock content%}