{% extends "tickets_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "content-section">
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <p><strong>Number:</strong> {{user.mobile_number}}</p>
  <p><strong>Balance:</strong> {{user.balance}}</p>
</div>
<div class = "content-section">
    <div>
    <form method = "GET" action="profile">
      {{tickets_search_form|crispy}}
      <div class = "form-group">
          <button class = "btn btn-outline-info" type = "submit">Filter</button>
          {% if orders_info %}
            <p><strong>Spent money:</strong>  {{orders_info.spent_money}} </p>
          {% endif %}
      </div>
    </form>
    </div>
    {% for ticket in tickets %}
      <p>{{ticket.name}} | {{ticket.start_date|date:"F d, Y"}} </p>
    {% endfor %}
</div>

{% endblock content%}